{
  "name": "node-cpu-profiler-bundler-test",
  "license": "MIT",
  "dependencies": {
    "webpack": "^5.97.1",
    "node-loader": "^2.1.0",
    "esbuild": "^0.24.2",
    "@sentry-internal/node-cpu-profiler": "{{path}}"
  }
}
